<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>App</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="/">
                            <p>Index</p>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form method="POST">
                        <div class="form-group row">
                            <label for="example-time-input" class="col-2 col-form-label">Time</label>
                            <div class="col-8">
                              <input class="form-control" type="time" name="time" value="{{ data['time'] if data['time'] else '12:00' }}" id="example-time-input">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">name</th>
                                <th scope="col">time</th>
                                <th scope="col">room_roles</th>
                                <th scope="col">room_objects</th>
                                <th scope="col">objectState</th>
                                <th scope="col">role</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in data['room_day_template'] %}
                                {% for y in x['stateAtTime'] %}
                                <tr>
                                    <th scope="row">{{ x.name }}</th>
                                    <td>{{ y.time }}</td>
                                    <td>
                                        <ul>
                                            {% for d in y.roomState.room_roles %}
                                                <li>{{ d }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            {% for d in y.roomState.room_objects %}
                                                <li>{{ d }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        <ol>
                                            {% for d in y.objectState %}
                                                <li>
                                                    <ul>
                                                        {% for k,v in d.items() %}
                                                            <li>    
                                                                {{ k }} : {{ v }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    </td>
                                    <td>
                                        <ol>
                                            {% for d in y.role %}
                                                <li>
                                                    <ul>
                                                        {% for k,v in d.items() %}
                                                            <li>    
                                                                {{ k }} : {{ v }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>